

spring:
  application:
    name: ai-service

    mongodb:
      uri: mongodb://localhost:27017/fitnessrecommendation


server:
  port: 8083

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/


