

spring:
  application:
    name: ai-service

    mongodb:
      uri: mongodb://localhost:27017/fitnessrecommendation
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest


server:
  port: 8083

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}

rabbitmq:
  exchange:
    name: fitness.exchange
  queue:
    name: activity.queue

  routing:
    key: activity.tracking


openai:
      api:
        url: ${OPENROUTER_API_URL}
        key: ${OPENROUTER_API_KEY}






